

.nameSubribe{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 5px;
  row-gap: 3px;
background-color: #ccc;
height: 60%;
width: 100%;  

}





.dateprivcay{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color:#ff0000;
 
}
















/* For small screens (mobile phones) */


/* For very small screens (like 320px width) */
@media (max-width: 320px) {
  .nameSubribe {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 5px; */
    /* row-gap: 3px; */
  background-color: #d1c8c8;
  height: 160px;
  width: 100%;  
  }
  .inputserch{
    width: 110px;
  }
}








/* @media  screen and (min-with:320) and (max-width: 380px) {
  .for400footer{
    position: absolute; 
  top: 150%; 
 
  
  
  background-color:#ff0000;
  height: 100px; 
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  }
} */