/* .grid-three-column{
    position: relative;
    top: 450px;
    


    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 150px;
    column-gap: 50px;
   
   
  
  
  } */



  .ProductsSecPagPossinattion {
    position: relative;
    top: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 150px;
    column-gap: 50px;
}







@media (max-width: 320px) {
  .ProductsSecPagPossinattion {
      grid-template-columns: 1fr 1fr; /* Stack columns for small screens */
      /* row-gap: 3px; */
      column-gap: 2px;
      row-gap: 2PX;
  }
}



@media screen and (min-width: 320px) and (max-width: 500px) {
  .ProductsSecPagPossinattion {
      position: relative;
      top: 450px; /* Reduced the top offset */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 50px; /* Reduced row gap */
      column-gap: 20px; /* Reduced column gap */
  }
}





