


  

  
  /*
  
  @media (max-width: 402px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: right;
   
      height: 120px; 
    }

    .navbar-link {
      margin-top: 70px;
      margin-right: 2px;
    }
} */