.filterCSS{
    position: absolute;
    top: 100px;
 
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .filterCSS{
        position: absolute;
        top: 100px;
     
    }
}